
@{
    ViewBag.Title = "IfAdmin";
}
<style>
    a {
        color: blue;
        margin:10px;
    }
    a:hover {
  color:maroon;
  text-decoration: underline;
}

</style>

<div style="text-align:center;">
    <a href="">
       
        <img src="~/ProjectFile/1.jpg" width="300px" height="300px" />
    </a>
    <br />
    E-Sales Person
    <br /><br />
    <div style="margin:20px">
        <a href="~/OpreationAdmin/AddSalesPerson">Add SalesPerson</a>
        <a href="~/OpreationAdmin/AllSalesPerson">Edit SalesPerson</a>
     
        <a href="~/OpreationAdmin/SearchSalesPerson">Search by Month & Year</a>
    </div><br />
    <a href="~/LogInOut/Login">LogOut</a>
</div>


