
@{
    ViewBag.Title = "IfPerson";
}


<div style="text-align:center;">
    <h3>SalesPerson Page</h3>
    <br />
    <br />
    <a href="~/OpreationSalesPerson/InsertSalesPersonCommission">
        E-Sales Person <br />
        <img src="~/ProjectFile/1.jpg" width="300px" height="300px" />
    </a>
</div>